body {
	background: url('../img/eros.jpg') black right no-repeat;
}

div#plot {
	height: 700px;
	width: 700px;
}

div#explanation {
	color: white;
}

span#percentage {
	position: absolute;
	top: 250px;
	left: 290px;
	font-size: 4em;
}

span#descriptive_text {
	position: absolute;
	top: 325px;
	left: 210px;
	width: 290px;
	text-align: center;
	font-size: 1.5em;
}